* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    color: #000;
}

.header_title {
    width: 100vw;
    height: 15vh;
    margin-top: 10%;
    display: block;
}

.header_title h1 {
    font-weight: 300;
    font-size: 8rem;
    text-align: center;
    text-decoration: none;
    word-spacing: 15px;
    letter-spacing: 0.5px;
}

.header_tagline {
    width: 100vw;
    height: 20vh;
    display: block;
}

.header_tagline p, .header_twitter_updates p {
    font-size: 1.4rem;
    text-align: center;
}

.header_tagline a, .header_twitter_updates a {
    text-align: center;
    font-size: 1.4rem;
    display: block;
}

.header_twitter_updates {
    width: 100vw;
    height: 10vh;
}

h2 {
    text-align: center;
}