* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

header {
    width: 100vw;
    background-color: #fafafa;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 15px 10px -15px #111; 
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

header h1 {
    font-weight: 500;
    font-size: 32px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    flex-wrap: wrap;
}

header ul li {
    display: inline-block;
    font-size: 26px;
    font-weight: 300;
}

header ul li a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

header ul li a:hover {
    border-bottom: 2px solid #000;
    transition: all 0.5s ease-in-out;
}

.active {
    border-bottom: 2px solid #000;
    font-weight: 500;
}

/* Main Splash Container for feature text and title */

.MainSplashContainer {
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../images/Accessibility_FIN.PNG);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainSplashContainer_Header {
    color: #fff;
    font-weight: 500;
    font-size: 48px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
    text-align: center;
}

.MainSplashContainer_Follow {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

/* Main Blog Contents Area (only other area besides footer) */

.MainBlogContents {
    width: 100vw;
    background-color: #fafafa;
    height: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.MainBlogContents img {
    width: 900px;
    height: 500px;
    margin-top: 1vh;
    border-radius: 5px;
    border: 3px solid #000;
}

.MainBlogContents:first-of-type {
    margin-top: 2.5vh;
}

.MainBlogContents h2 {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 28px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.MainBlogContents h3 {
    font-weight: 500;
    margin-top: 15px;
    font-size: 24px;
}

.MainBlogContents p {
    margin: 5px 25vw 40px 25vw;
    font-weight: 300;
    font-size: 18px;
}

.MainBlogContents p:first-of-type {
    text-align: center;
}

.MainBlogContents span {
    margin-bottom: 4vh;
}

.MainBlogContents ul {
    margin-bottom: 40px;
    font-weight: 300;
}

.MainBlogContents iframe {
    margin-bottom: 40px;
}

.MainBlogContents .SquareImage {
    width: auto;
    margin-bottom: 40px;
}

/* Media Queries for mobile approach */

@media only screen and (max-width: 1120px) {
    header {
        width: 100vw;
        background-color: #fafafa;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 15px 10px -15px #111; 
    }

    .MainBlogContents p {
        margin: 5px 10vw 40px 10vw;
        font-weight: 300;
        font-size: 18px;
    }
  }


@media only screen and (max-width: 950px) {
    .MainBlogContents img {
        width: 600px;
        height: 334px;
        margin-top: 1vh;
        border-radius: 5px;
        border: 3px solid #000;
    }
}

@media only screen and (max-width: 700px) {
    header h1 {
        font-weight: 500;
        font-size: 24px;
        word-spacing: 5px;
        letter-spacing: 0.5px;
    }

    header ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        flex-wrap: wrap;
    }
    
    header ul li {
        display: inline-block;
        font-size: 22px;
        font-weight: 300;
    }

    .BlogPostClickable h2 {
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        margin-top: 25px;
        font-size: 20px;
    }

    .BlogPostClickable p {
        margin: 15px;
        font-size: 14px;
    }
  }

  @media only screen and (max-width: 650px) {
    .MainBlogContents img {
        width: 90%;
        height: 250px;
        margin-top: 1vh;
        border-radius: 5px;
        border: 3px solid #000;
    }

    .MainBlogContents span {
        text-align: center;
        font-size: 14px;
    }

    .MainBlogContents iframe {
        width: 90%;
        height: 250px;
    }

    .MainBlogContents ul {
        width: 80%;
        margin-left: 10%;
    }
}

/* Main Blogpost nav CSS */

.BlogPostMainSection {
    width: 100vw;
    height: 136vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.BlogPostClickable {
    width: 400px;
    height: 500px;
    margin: 50px 0px;
    border-radius: 15px;
    background-color: rgb(225, 225, 225);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.BlogPostClickable img {
    width: 100%;
}

.BlogPostClickable h2 {
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
}

.BlogPostClickable a {
    text-decoration: none;
}

.BlogPostClickable p {
    margin: 15px;
}

.LinkToPost  {
    font-weight: 700;
}

.BlogPostRowContainer {
    width: 60vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.background-test {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 230px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../images/Accessibility_FIN.PNG);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    box-shadow: 0px 15px 10px -15px #111; 
}

@media only screen and (max-width: 1330px) {
    .BlogPostRowContainer {
        width: 60vw;
        height: 85vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}
