* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

header {
    width: 100vw;
    background-color: #fafafa;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 15px 10px -15px #111; 
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

header h1 {
    font-weight: 500;
    font-size: 32px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    flex-wrap: wrap;
}

header ul li {
    display: inline-block;
    font-size: 26px;
    font-weight: 300;
}

header ul li a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

header ul li a:hover {
    border-bottom: 2px solid #000;
    transition: all 0.5s ease-in-out;
}

.active {
    border-bottom: 2px solid #000;
    font-weight: 500;
}

/* Main Splash Container for feature text and title */

.MainSplashContainer {
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../images/placeholder.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainSplashContainer_Header {
    color: #fff;
    font-weight: 500;
    font-size: 48px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
    text-align: center;
}

.MainSplashContainer_Follow {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

/* Main Blog Contents Area (only other area besides footer) */

.MainBlogContents {
    width: 100vw;
    background-color: #fafafa;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.MainBlogContents img {
    width: 900px;
    height: 500px;
    margin-top: 2.5vh;
}

.MainBlogContents h2 {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 28px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.MainBlogContents h2::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    margin-left: 37px;
}

/* Media Queries for mobile approach */

@media only screen and (max-width: 1120px) {
    header {
        width: 100vw;
        background-color: #fafafa;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 15px 10px -15px #111; 
    }
  }

  @media only screen and (max-width: 700px) {
    header h1 {
        font-weight: 500;
        font-size: 24px;
        word-spacing: 5px;
        letter-spacing: 0.5px;
    }

    header ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        flex-wrap: wrap;
    }
    
    header ul li {
        display: inline-block;
        font-size: 22px;
        font-weight: 300;
    }
  }
